rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'zaynyt684@gmail.com';
    }

    match /forms/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /services/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /links/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /banners/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /content/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /settings/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}